USE [QuanLyDiem]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP TABLE [dbo].[SinhVien]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP TABLE [dbo].[MonHoc]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP TABLE [dbo].[Lop]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP TABLE [dbo].[HocKy]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP TABLE [dbo].[Diem]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP TABLE [dbo].[DangNhap]
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudent]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP PROCEDURE [dbo].[UpdateStudent]
GO
/****** Object:  StoredProcedure [dbo].[SearchStudent]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP PROCEDURE [dbo].[SearchStudent]
GO
/****** Object:  StoredProcedure [dbo].[InsertStudent]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP PROCEDURE [dbo].[InsertStudent]
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudentInfo]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP PROCEDURE [dbo].[GetAllStudentInfo]
GO
/****** Object:  StoredProcedure [dbo].[Deletestudent]    Script Date: 2/15/2019 3:12:39 PM ******/
DROP PROCEDURE [dbo].[Deletestudent]
GO
/****** Object:  StoredProcedure [dbo].[Deletestudent]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Deletestudent]
	@masv int
AS
  delete from SinhVien
  where MaSV = @masv
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudentInfo]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllStudentInfo]
AS
BEGIN
	select MaSV , TenSV as N'Họ và tên', NgaySinh as N'Ngày sinh',
	GioiTinh as N'Giới tính', DanToc as N'Dân tộc', Diachi as N'Địa chỉ', TenLop as N'Lớp'
	 from SinhVien
	 left join Lop
	 on Lop.MaLop = SinhVien.MaLop
END

GO
/****** Object:  StoredProcedure [dbo].[InsertStudent]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertStudent]
	@name nvarchar(50),
	@ngaysinh datetime,
	@gioitinh bit,
	@dantoc nvarchar(50),
	@diachi nvarchar(100),
	@malop int
AS
BEGIN

INSERT INTO [dbo].[SinhVien]
           ([TenSV]
           ,[NgaySinh]
           ,[GioiTinh]
           ,[DanToc]
           ,[Diachi]
           ,[MaLop])
     VALUES(@name,@ngaysinh,@gioitinh,@dantoc,@diachi,@malop)
          
END

GO
/****** Object:  StoredProcedure [dbo].[SearchStudent]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchStudent]
@tensv nvarchar(50)
as
Select * from SinhVien
where TenSV like '%' +@tensv+ '%'
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudent]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStudent]
    @masv int,
	@name nvarchar(50),
	@ngaysinh datetime,
	@gioitinh bit,
	@dantoc nvarchar(50),
	@diachi nvarchar(100),
	@malop int
AS
update SinhVien
set TenSV = @name,
    NgaySinh = @ngaysinh,
	GioiTinh = @gioitinh,
	DanToc= @dantoc,
	Diachi = @diachi,
	MaLop = @malop
where MaSV = @masv
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diem]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[MaMon] [nvarchar](50) NULL,
	[DiemHS1] [float] NULL,
	[DiemHS2] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHK] [int] IDENTITY(1,1) NOT NULL,
	[TenHK] [nvarchar](50) NULL,
 CONSTRAINT [PK_HocKy] PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lop]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](100) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [nvarchar](50) NOT NULL,
	[TenMon] [nvarchar](50) NULL,
	[SoTC] [int] NULL,
	[MaHK] [int] NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 2/15/2019 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [int] NULL,
	[DanToc] [nvarchar](50) NULL,
	[Diachi] [nvarchar](100) NULL,
	[MaLop] [int] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DangNhap] ([username], [password]) VALUES (N'daohong', N'dao123')
INSERT [dbo].[DangNhap] ([username], [password]) VALUES (N'camtu', N'letucam')
INSERT [dbo].[DangNhap] ([username], [password]) VALUES (N'trinhhuong', N'huonghuong')
SET IDENTITY_INSERT [dbo].[Diem] ON 

INSERT [dbo].[Diem] ([MaSV], [MaMon], [DiemHS1], [DiemHS2]) VALUES (1, N'77CO', NULL, NULL)
INSERT [dbo].[Diem] ([MaSV], [MaMon], [DiemHS1], [DiemHS2]) VALUES (17, N'77CO', NULL, NULL)
INSERT [dbo].[Diem] ([MaSV], [MaMon], [DiemHS1], [DiemHS2]) VALUES (2, N'56AC', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Diem] OFF
SET IDENTITY_INSERT [dbo].[HocKy] ON 

INSERT [dbo].[HocKy] ([MaHK], [TenHK]) VALUES (1, N'Học Kỳ 1')
INSERT [dbo].[HocKy] ([MaHK], [TenHK]) VALUES (2, N'Học Kỳ 2')
SET IDENTITY_INSERT [dbo].[HocKy] OFF
SET IDENTITY_INSERT [dbo].[Lop] ON 

INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (1, N'Tin Học 18')
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (2, N'KTĐK & TĐH')
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (3, N'ĐTVT18')
SET IDENTITY_INSERT [dbo].[Lop] OFF
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTC], [MaHK]) VALUES (N'01AK', N'Giải tích', 4, 1)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTC], [MaHK]) VALUES (N'02AD', N'Nhậ môn kỹ thuật đồ họa', 2, 2)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTC], [MaHK]) VALUES (N'02CN', N'Cơ sở toán trong tin học ', 3, 2)
SET IDENTITY_INSERT [dbo].[SinhVien] ON 

INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DanToc], [Diachi], [MaLop]) VALUES (1, N'Nguyễn Thị Đào', CAST(0x00008D0400000000 AS DateTime), 1, N'Kinh', N'Đội 7 - Cát Quế - Hoài Đức - Hà Nội', 1)
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DanToc], [Diachi], [MaLop]) VALUES (2, N'Thái Trình Kha', CAST(0x0000892700000000 AS DateTime), 0, N'Kinh', N'Số 23 - Ngõ 151B Thái Hà - hà Nôi', 7)
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DanToc], [Diachi], [MaLop]) VALUES (3, N'Phạm Thị Mỹ Duân', CAST(0x00008C7D00000000 AS DateTime), 1, N'Kinh', N'7B Tổ 20 - Chương Dương - Hoàn Kiếm - Hà Nội', 1)
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
