USE [QuanLyDiem]
GO
ALTER TABLE [dbo].[SinhVien] DROP CONSTRAINT [FK_SinhVien_Lop]
GO
ALTER TABLE [dbo].[MonHoc] DROP CONSTRAINT [FK_MonHoc_HocKy]
GO
ALTER TABLE [dbo].[Diem] DROP CONSTRAINT [FK_Diem_SinhVien]
GO
ALTER TABLE [dbo].[Diem] DROP CONSTRAINT [FK_Diem_MonHoc]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP TABLE [dbo].[SinhVien]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP TABLE [dbo].[MonHoc]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP TABLE [dbo].[Lop]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP TABLE [dbo].[HocKy]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP TABLE [dbo].[Diem]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP TABLE [dbo].[DangNhap]
GO
/****** Object:  StoredProcedure [dbo].[XoaMonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[XoaMonHoc]
GO
/****** Object:  StoredProcedure [dbo].[XoaLop]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[XoaLop]
GO
/****** Object:  StoredProcedure [dbo].[XoaHK]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[XoaHK]
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudent]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[UpdateStudent]
GO
/****** Object:  StoredProcedure [dbo].[TimLop]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[TimLop]
GO
/****** Object:  StoredProcedure [dbo].[ThemMonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[ThemMonHoc]
GO
/****** Object:  StoredProcedure [dbo].[ThemLop]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[ThemLop]
GO
/****** Object:  StoredProcedure [dbo].[ThêmHK]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[ThêmHK]
GO
/****** Object:  StoredProcedure [dbo].[SuaMonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[SuaMonHoc]
GO
/****** Object:  StoredProcedure [dbo].[SuaLop]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[SuaLop]
GO
/****** Object:  StoredProcedure [dbo].[SuaHK]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[SuaHK]
GO
/****** Object:  StoredProcedure [dbo].[InsertStudent]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[InsertStudent]
GO
/****** Object:  StoredProcedure [dbo].[GetMonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[GetMonHoc]
GO
/****** Object:  StoredProcedure [dbo].[GetLop]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[GetLop]
GO
/****** Object:  StoredProcedure [dbo].[GetHocKy]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[GetHocKy]
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudentInfo]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[GetAllStudentInfo]
GO
/****** Object:  StoredProcedure [dbo].[Deletestudent]    Script Date: 2/18/2019 2:45:24 PM ******/
DROP PROCEDURE [dbo].[Deletestudent]
GO
/****** Object:  StoredProcedure [dbo].[Deletestudent]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[Deletestudent]
	@masv int
AS
  delete from SinhVien
  where MaSV = @masv
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudentInfo]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllStudentInfo]
AS
BEGIN
	select MaSV , TenSV as N'Họ và tên', NgaySinh as N'Ngày sinh',
	GioiTinh as N'Giới tính', DanToc as N'Dân tộc', Diachi as N'Địa chỉ', TenLop as N'Lớp'
	 from SinhVien
	 left join Lop
	 on Lop.MaLop = SinhVien.MaLop
END


GO
/****** Object:  StoredProcedure [dbo].[GetHocKy]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetHocKy]
as
SELECT [MaHK] as N'Mã học kỳ'
      ,[TenHK] as N'Tên học kỳ'
  FROM [dbo].[HocKy]

GO
/****** Object:  StoredProcedure [dbo].[GetLop]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetLop]
as begin
select * from Lop
end
GO
/****** Object:  StoredProcedure [dbo].[GetMonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetMonHoc]
as
SELECT [MaMon] as N'Mã môn'
      ,[TenMon] as N'Tên môn'
      ,[SoTC] as N'Số tín chỉ'
      ,[MaHK] as N'Mã học kỳ'
  FROM [dbo].[MonHoc]

GO
/****** Object:  StoredProcedure [dbo].[InsertStudent]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[InsertStudent]
	@name nvarchar(50),
	@ngaysinh datetime,
	@gioitinh bit,
	@dantoc nvarchar(50),
	@diachi nvarchar(100),
	@malop int
AS
BEGIN

INSERT INTO [dbo].[SinhVien]
           ([TenSV]
           ,[NgaySinh]
           ,[GioiTinh]
           ,[DanToc]
           ,[Diachi]
           ,[MaLop])
     VALUES(@name,@ngaysinh,@gioitinh,@dantoc,@diachi,@malop)
	 end
GO
/****** Object:  StoredProcedure [dbo].[SuaHK]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc[dbo].[SuaHK]
@tenHK nvarchar(50)
as
UPDATE [dbo].[HocKy]
   SET [TenHK] = @tenHK
 WHERE TenHK=@tenHK

GO
/****** Object:  StoredProcedure [dbo].[SuaLop]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SuaLop]
@tenlop nvarchar(100),
@id int
as
UPDATE [dbo].[Lop]
   SET [TenLop] = @tenlop
 WHERE MaLop=@id

GO
/****** Object:  StoredProcedure [dbo].[SuaMonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SuaMonHoc]
@maMon nvarchar(50),
@tenMon  nvarchar(50),
@soTC int,
@maHK int
as
UPDATE [dbo].[MonHoc]
   SET [MaMon] = @maMon
      ,[TenMon] = @tenMon
      ,[SoTC] = @soTC
      ,[MaHK] = @maHK
 WHERE MaMon=@maMon

GO
/****** Object:  StoredProcedure [dbo].[ThêmHK]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThêmHK]
@tenHK nvarchar(50)
as
INSERT INTO [dbo].[HocKy]
           ([TenHK])
     VALUES(@tenHK)
	
          

GO
/****** Object:  StoredProcedure [dbo].[ThemLop]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[ThemLop]
@tenlop nvarchar(100)
as
INSERT INTO [dbo].[Lop]
           ([TenLop] )
     VALUES(@tenlop) 
           

GO
/****** Object:  StoredProcedure [dbo].[ThemMonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemMonHoc]
@maMon nvarchar(50),
@tenMon  nvarchar(50),
@soTC int,
@maHK int
as
INSERT INTO [dbo].[MonHoc]
           ([MaMon]
           ,[TenMon]
           ,[SoTC]
           ,[MaHK])
     VALUES(@maMon,@tenMon,@soTC,@maHK)


GO
/****** Object:  StoredProcedure [dbo].[TimLop]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TimLop]
@tenlop nvarchar(100)
as
SELECT [MaLop]
      ,[TenLop]
  FROM [dbo].[Lop]
  where TenLop=@tenlop

GO
/****** Object:  StoredProcedure [dbo].[UpdateStudent]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[UpdateStudent]
    @masv int,
	@name nvarchar(50),
	@ngaysinh datetime,
	@gioitinh bit,
	@dantoc nvarchar(50),
	@diachi nvarchar(100),
	@malop int
AS
update SinhVien
set TenSV = @name,
    NgaySinh = @ngaysinh,
	GioiTinh = @gioitinh,
	DanToc= @dantoc,
	Diachi = @diachi,
	MaLop = @malop
where MaSV = @masv

GO
/****** Object:  StoredProcedure [dbo].[XoaHK]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaHK]
@maHK int
as
DELETE FROM [dbo].[HocKy]
      WHERE MaHK=@maHK

GO
/****** Object:  StoredProcedure [dbo].[XoaLop]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[XoaLop]
@id int
as
DELETE FROM [dbo].[Lop]
      WHERE MaLop=@id

GO
/****** Object:  StoredProcedure [dbo].[XoaMonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaMonHoc]
@maMon nvarchar(50)
as
DELETE FROM [dbo].[MonHoc]
      WHERE MaMon=@maMon

GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diem]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[MaMon] [nvarchar](50) NULL,
	[DiemHS1] [float] NULL,
	[DiemHS2] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHK] [int] IDENTITY(1,1) NOT NULL,
	[TenHK] [nvarchar](50) NULL,
 CONSTRAINT [PK_HocKy] PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lop]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](100) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [nvarchar](50) NOT NULL,
	[TenMon] [nvarchar](50) NULL,
	[SoTC] [int] NULL,
	[MaHK] [int] NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 2/18/2019 2:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [int] NULL,
	[DanToc] [nvarchar](50) NULL,
	[Diachi] [nvarchar](100) NULL,
	[MaLop] [int] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DangNhap] ([username], [password]) VALUES (N'daohong', N'dao123')
INSERT [dbo].[DangNhap] ([username], [password]) VALUES (N'camtu', N'letucam')
INSERT [dbo].[DangNhap] ([username], [password]) VALUES (N'trinhhuong', N'huonghuong')
SET IDENTITY_INSERT [dbo].[Diem] ON 

INSERT [dbo].[Diem] ([MaSV], [MaMon], [DiemHS1], [DiemHS2]) VALUES (1, N'77CO', NULL, NULL)
INSERT [dbo].[Diem] ([MaSV], [MaMon], [DiemHS1], [DiemHS2]) VALUES (17, N'77CO', NULL, NULL)
INSERT [dbo].[Diem] ([MaSV], [MaMon], [DiemHS1], [DiemHS2]) VALUES (2, N'56AC', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Diem] OFF
SET IDENTITY_INSERT [dbo].[HocKy] ON 

INSERT [dbo].[HocKy] ([MaHK], [TenHK]) VALUES (1, N'Học Kỳ 1')
INSERT [dbo].[HocKy] ([MaHK], [TenHK]) VALUES (2, N'Học Kỳ 2')
SET IDENTITY_INSERT [dbo].[HocKy] OFF
SET IDENTITY_INSERT [dbo].[Lop] ON 

INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (1, N'Tin Học 18')
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (2, N'KTĐK & TĐH')
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (3, N'ĐTVT18')
SET IDENTITY_INSERT [dbo].[Lop] OFF
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTC], [MaHK]) VALUES (N'01AK', N'Giải tích', 4, 1)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTC], [MaHK]) VALUES (N'02AD', N'Nhậ môn kỹ thuật đồ họa', 2, 2)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTC], [MaHK]) VALUES (N'02CN', N'Cơ sở toán trong tin học ', 3, 2)
SET IDENTITY_INSERT [dbo].[SinhVien] ON 

INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DanToc], [Diachi], [MaLop]) VALUES (1, N'Nguyễn Thị Đào', CAST(0x00008D0400000000 AS DateTime), 1, N'Kinh', N'Đội 7 - Cát Quế - Hoài Đức - Hà Nội', 1)
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DanToc], [Diachi], [MaLop]) VALUES (2, N'Thái Trình Kha', CAST(0x0000892700000000 AS DateTime), 0, N'Kinh', N'Số 23 - Ngõ 151B Thái Hà - hà Nôi', 7)
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DanToc], [Diachi], [MaLop]) VALUES (3, N'Phạm Thị Mỹ Duân', CAST(0x00008C7D00000000 AS DateTime), 1, N'Kinh', N'7B Tổ 20 - Chương Dương - Hoàn Kiếm - Hà Nội', 1)
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_MonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_SinhVien]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_HocKy] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_HocKy]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
